@model TagListItemViewModel
<div class="btn btn-outline-primary">
    <input class="form-check-input" name="CheckedTags" type="checkbox" id="@Model.Id" value="@Model.Id">
    <label class="form-check-label" for="@Model.Id">@Model.Value</label>
</div>
