@model TagListItemViewModel
@{
    ViewData["Title"] = "Create";
}
<form method="post">
    <div id="form-text">
        <div class="mb-3">
            <label for="Tag-Value">Tag Name </label>
            <input id="Tag-Value" class="form-control" name="Value" type="text"required /><br>
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
    </div>
</form>
